In [2]:
import numpy as np
import pandas as pd
import scipy
import random
import time
import os
import matplotlib.pyplot as plt

In [23]:
raw_train_data = pd.read_csv("bank-additional-train.csv",delimiter=",", encoding="utf-8-sig")
raw_train_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,32,management,married,professional.course,unknown,no,no,cellular,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
1,41,admin.,married,high.school,no,yes,yes,cellular,apr,mon,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
2,32,admin.,married,university.degree,no,yes,no,cellular,may,mon,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,no
3,37,admin.,married,high.school,no,unknown,unknown,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
4,38,admin.,divorced,university.degree,no,no,no,cellular,jul,tue,...,8,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no

In [59]:
#See the details in different attributes 
for key in raw_train_data.keys():
    print(raw_train_data[key].value_counts().head(10))

31    1744
32    1663
33    1629
36    1605
35    1570
34    1558
30    1550
37    1335
29    1301
39    1285
Name: age, dtype: int64
admin.           9380
blue-collar      8331
technician       6075
services         3553
management       2646
retired          1536
entrepreneur     1325
self-employed    1276
housemaid         967
unemployed        906
Name: job, dtype: int64
married     22426
single      10410
divorced     4159
unknown        74
Name: marital, dtype: int64
university.degree      10931
high.school             8555
basic.9y                5449
professional.course     4709
basic.4y                3790
basic.6y                2060
unknown                 1559
illiterate                16
Name: education, dtype: int64
no         29301
unknown     7767
yes            1
Name: default, dtype: int64
yes        19447
no         16753
unknown      869
Name: housing, dtype: int64
no         30595
yes         5605
unknown      869
Name: loan, dtype: int64
cellular     23506
telephone    13563
Name: contact, dtype: int64
may    12351
jul     6474
aug     5576
jun     4787
nov     3701
apr     2379
oct      632
sep      509
mar      499
dec      161
Name: month, dtype: int64
thu    7757
mon    7673
wed    7340
tue    7269
fri    7030
Name: day_of_week, dtype: int64
90     155
85     153
73     153
87     152
104    149
124    148
125    148
89     147
109    145
136    145
Name: duration, dtype: int64
1     15873
2      9495
3      4836
4      2375
5      1435
6       868
7       567
8       369
9       250
10      196
Name: campaign, dtype: int64
999    35708
3        389
6        367
4        106
9         58
7         55
2         53
12        52
5         44
10        44
Name: pdays, dtype: int64
0    32018
1     4094
2      676
3      200
4       60
5       16
6        4
7        1
Name: previous, dtype: int64
nonexistent    32018
failure         3820
success         1231
Name: poutcome, dtype: int64
 1.4    14645
-1.8     8266
 1.1     6963
-0.1     3315
-2.9     1503
-3.4      965
-1.7      689
-1.1      562
-3.0      151
-0.2       10
Name: emp.var.rate, dtype: int64
93.994    6963
93.918    6032
92.893    5198
93.444    4662
94.465    3951
93.200    3263
93.075    2222
92.201     706
92.963     634
92.431     402
Name: cons.price.idx, dtype: int64
-36.4    6963
-42.7    6032
-46.2    5198
-36.1    4662
-41.8    3951
-42.0    3263
-47.1    2222
-31.4     706
-40.8     634
-26.9     402
Name: cons.conf.idx, dtype: int64
4.857    2585
4.962    2354
4.963    2230
4.961    1701
4.856    1089
4.964    1060
1.405    1050
4.965     964
4.864     952
4.960     921
Name: euribor3m, dtype: int64
5228.1    14645
5099.1     7679
5191.0     6963
5195.8     3315
5076.2     1503
5017.5      965
4991.6      689
5008.7      587
4963.6      562
5023.5      151
Name: nr.employed, dtype: int64
no     32908
yes     4161
Name: y, dtype: int64

In [71]:
missinglistName = []#For later using
missing=0
keyword=''
for key in raw_train_data.keys():
    value = raw_train_data[key].value_counts()
    if 'unknown' or 'nonexistent'in list(value.keys()):
        if 'unknown'in list(value.keys()):
            missing = value['unknown']
            keyword =  'unknown'
        elif 'nonexistent'in list(value.keys()):
            missing = value['nonexistent']
            keyword = 'nonexistent'
        proportion = missing / len(raw_train_data[key])
        missinglistName.append(key)
        print("The number of missing data in %s is %d and the proportion is %f with the keyword %s" %(key,missing,proportion,keyword))

The number of missing data in age is 0 and the proportion is 0.000000 with the keyword
The number of missing data in job is 296 and the proportion is 0.007985 with the keyword unknown
The number of missing data in marital is 74 and the proportion is 0.001996 with the keyword unknown
The number of missing data in education is 1559 and the proportion is 0.042057 with the keyword unknown
The number of missing data in default is 7767 and the proportion is 0.209528 with the keyword unknown
The number of missing data in housing is 869 and the proportion is 0.023443 with the keyword unknown
The number of missing data in loan is 869 and the proportion is 0.023443 with the keyword unknown
The number of missing data in contact is 869 and the proportion is 0.023443 with the keyword unknown
The number of missing data in month is 869 and the proportion is 0.023443 with the keyword unknown
The number of missing data in day_of_week is 869 and the proportion is 0.023443 with the keyword unknown
The number of missing data in duration is 869 and the proportion is 0.023443 with the keyword unknown
The number of missing data in campaign is 869 and the proportion is 0.023443 with the keyword unknown
The number of missing data in pdays is 869 and the proportion is 0.023443 with the keyword unknown
The number of missing data in previous is 869 and the proportion is 0.023443 with the keyword unknown
The number of missing data in poutcome is 32018 and the proportion is 0.863741 with the keyword nonexistent
The number of missing data in emp.var.rate is 32018 and the proportion is 0.863741 with the keyword nonexistent
The number of missing data in cons.price.idx is 32018 and the proportion is 0.863741 with the keyword nonexistent
The number of missing data in cons.conf.idx is 32018 and the proportion is 0.863741 with the keyword nonexistent
The number of missing data in euribor3m is 32018 and the proportion is 0.863741 with the keyword nonexistent
The number of missing data in nr.employed is 32018 and the proportion is 0.863741 with the keyword nonexistent
The number of missing data in y is 32018 and the proportion is 0.863741 with the keyword nonexistent